body{
text-align: center;
font-family: 'Courier New', Courier, monospace;
background-color: rgb(90, 90, 196);
}

table{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

td{
    color: aqua;
}

th{
    border-bottom: solid;
}

label{
    text-shadow: darkslategrey;
    color: ghostwhite;
}

h1{
    color: yellow
}