body{
text-align: center;
font-family: 'Courier New', Courier, monospace;
background-color: rgb(90, 90, 196);
}

table{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.table{
    display: none;
    text-align: center;
}

.map{
    position: relative;
    top: 60%;
    left: 30%;
    width: 25vw;
    height: 40vw;
}​

td{
    color: aqua;
}

th{
    border-bottom: solid;
}

label{
    text-shadow: darkslategrey;
    color: ghostwhite;
}

h1{
    color: yellow;
}