{% extends 'base.html' %}

{% block head %}
<title>Stop Finder</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Stop Finder</h1>
    <div class="form">
        <form action="/" method="POST">
            <label>Enter Stop Name</label>
            <input type="text" name="stop" id="stop"><br><br>
            <label>Enter Range </label>
            <input type="text" name="range" id="range">
            <br><br>
            <div>
                <input type="submit" value="Find">
            </div>
<!--            <input type="checkbox" name="find_in_range" value="world" checked>-->
        </form>
    </div>
</div>
{% endblock %}