{% extends 'base.html' %}

{% block head %}
<title>Stop Finder</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Stop Finder</h1>
    <img src="./../static/bmb.png"></img>
    <br><br><br>
    <div class="form">
        <form action="/" method="POST">
            <table>
                <tr>
                    <td><label>Enter Stop Name</label></td>
                    <td><input type="text" name="stop" id="stop">
                        <input type="checkbox" name="rgx" id="rgx" value="True" style="margin-left: -.5vw;">
                        <label for="rgx" style="margin-left: -.75vw; color: wheat;">regex</label>

                    </td>
                </tr>
                <tr>
                    <td><label>Enter Range </label></td>
                    <td><input type="text" name="range" id="range"></td>
                </tr>
                <tr>
                    <td><label>Enter Current Location </label></td>
                    <td><input type="text" name="current_location" id="current_location"></td>
                </tr>
            </table>
            <br>
            <div>
                <input type="submit" name="Find" value="Find">
                <input type="submit" name="Show All" value="Show All">
            </div>
        </form>

        <br><br>

        <div id="map" style="height: 20vw; width: 50vw; float: left; border: solid;"></div>
        <script type="text/javascript">
            var map = L.map('map').setView([45.51689676614314, -73.5639488697052], 11);
            map.addLayer(
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; \
                    <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, \
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © \
                    <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/streets-v11',
                    accessToken: 'pk.eyJ1IjoiamFhc3NiIiwiYSI6ImNrNGt1bGFmaDIxbHkzbW9ic2Jhbm44bjYifQ.ReKnSfsBy5BO_YZvYgIo5A'
                })
            );
            function onMapClick(e) {
                L.popup()
                    .setLatLng(e.latlng)
                    .setContent("your current location is " + e.latlng.toString())
                    .openOn(map);
                document.getElementById('current_location').value = e.latlng.lat + ', ' + e.latlng.lng
            }
            map.on('click', onMapClick);
        </script>

        <br><br>

        {% if lstName %} {% autoescape false %}
        <table class="table">
            <tr style="text-align: center;">
                <th>Stop name</th>
                <th>Distance To Reach</th>
            </tr>
            <tr>
                <td style="border-right:solid rgb(31, 29, 29);">
                    {% for ins in lstName %}
                    <li>{{ins}}</li>
                    {% endfor %}
                </td>
                <td>
                    {% for ins in lstDistance %}
                    <li>{{ins}}</li>
                    {% endfor %}
                </td>
            </tr>
        </table>
        {% endautoescape %} {% endif %}

        {% if stopName %} {% autoescape false %}
        <table class="table">
            <tr style="text-align: center;">
                <th>Stop name</th>
                <th>Distance To Reach</th>
            </tr>
            <tr>
                <td>{{stopName}}</td>
                <td>{{stopDistance}}</td>
            </tr>
        </table>
        <script type="text/javascript">
            var marker = (L.marker([parseFloat('{{ stopLat }}'), parseFloat('{{ stopLong }}')])).
            addTo(map).
            bindPopup('{{ stopName }}').
            openPopup();
        </script>
        {% endautoescape %} {% endif %}

        {% if result %} {% autoescape false %}
        <table class="table" style="display: inline-flex;">
            <tr style="text-align: center;">
                <th>Stop name</th>
            </tr>
            <tr>
                <td>{{ result }}</td>
            </tr>
        </table>
        {% endautoescape %} {% endif %}

    </div>
</div>
{% endblock %}