{% extends 'base.html' %}

{% block head %}
<title>Stop Finder</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Stop Finder</h1>
    <img src="./../static/bmb.png"></img>
    <br><br><br>
    <div class="form">
        <form action="/" method="POST">
            <table>
                <tr>
                    <td><label>Enter Stop Name</label></td>
                    <td><input type="text" name="stop" id="stop">
                        <!-- <input type="hidden" name="rgx" id="rgx" value="0"/> -->
                        <input type="checkbox" name="rgx" id="rgx" value="True">
                    </td>
                </tr>
                <tr>
                    <td><label>Enter Range </label></td>
                    <td><input type="text" name="range" id="range"></td>
                </tr>
                <tr>
                    <td><label>Enter Current Location </label></td>
                    <td><input type="text" name="current_location" id="current_location"></td>
                </tr>
            </table>
            <br>
            <div>
                <input type="submit" value="Find">
            </div>
        </form>

        {% if result %}
        <p style="color: aqua;">{{ result }}</p>
        {% endif %}

    </div>
</div>
{% endblock %}